* {
  box-sizing: border-box;
}

html,
body {
  --ccft-cs-background: #000;
  --ccft-cs-on-surface: #fff;
  --ccft-cs-surface: #fff;
  --ccft-cs-primary: #85b0a5;
  --ccft-cs-primary-alt: hsla(14, 97%, 65%, 0.3);
  --ccft-ts-primary: Montserrat, sans-serif;
  --ccft-ts-secondary: "Abril Fatface", serif;
  --ccft-spacer-x: 40px;
  --ccft-spacer-y: 40px;
  --ccft-brand-size: 60px;

  background-color: var(--ccft-cs-background);
  font-family: var(--ccft-ts-primary);
  margin: 0;
}

.layout {
  background-image: url("../workspace-1280538_1920.jpg");
  background-position: 0 0;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.layout.nav--active main {
  opacity: 0.2;
  user-select: none;
}

.layout__backdrop,
.layout__frontdrop {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  transform-origin: 0% 50%;
  width: 100%;
  z-index: 0;
}

.layout__backdrop {
  transform: scaleX(0.34) translateX(calc(67% * 3));
}

.layout.nav--active .layout__frontdrop {
  background-color: var(--ccft-cs-primary-alt);
  visibility: visible;
}

.layout__frontdrop {
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background-color: #373135e5 !important;
}

.layout__wrapper {
  display: grid;
  grid-template-columns: 300px repeat(3, 1fr);
  margin: auto;
  height: 100%;
}

.layout__main {
  transition: opacity 0.3s;
  z-index: 1;
}

.hero {
  padding-top: 10rem;
}

.hero-title {
  color: #fff;
  font-family: var(--ccft-ts-secondary);
  font-weight: 400;
  font-size: 4.75rem;
  line-height: 1.2;
  margin-left: auto;
  margin-right: 20%;
  margin-bottom: 0;
  position: relative;
  width: 32.5rem;
  z-index: 1;
}

.hero-title em {
  display: block;
  font-size: 2rem;
  font-style: normal;
  line-height: 1.2;
  transform: translateX(2.5rem);
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.75;
  margin: 0;
  margin-left: auto;
  margin-right: 15%;
  padding: 4rem 3rem 3rem;
  transform: translateY(-3rem);
  width: 50%;
  z-index: 0;
}

.hero-text em {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.75;
}

.hero-block--content > *:last-child {
  margin-bottom: 0;
}

.layout__main {
  display: flex;
  flex-direction: column;
}

.layout__header {
  height: 100%;
  z-index: 2;
}

.layout__header nav {
  height: 100%;
}

.layout__main {
  grid-column: span 3;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav--header-1 {
  counter-reset: n;
  height: 100%;
  padding: 0 2rem;
  position: relative;
}

.nav--header-1 > .nav__item:not(.nav__item--home) {
  counter-increment: n;
}

.nav--header-1 > .nav__item:not(.nav__item--home) > .nav__link {
  color: var(--ccft-cs-on-surface);
  display: block;
  font-family: var(--ccft-ts-secondary);
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: 0.045em;
  padding: 1rem 1rem;
  padding-left: 3rem;
  padding-top: 3rem;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  z-index: 1;
}

.nav--header-1 > .nav__item > .nav__link::before {
  content: counter(n, decimal-leading-zero);
  display: block;
  font-family: var(--ccft-ts-primary);
  font-size: 6rem;
  font-weight: bold;
  left: 0;
  top: 0;
  opacity: 0.25;
  position: absolute;
  transition: transform 0.2s;
  z-index: -1;
}

.nav--header-1 > .nav__item > .nav__link:hover,
.nav--header-1 > .nav__item.nav__item--active > .nav__link {
  color: var(--ccft-cs-primary);
  transform: translateX(0.5rem);
}

.nav--header-1 > .nav__item.nav__item--active .nav--header-2 {
  visibility: visible;
  width: 70%;
}

.nav--header-1 .nav__item--home {
  background-image: url("../iferez.png");
  background-position: 0px 50%;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  padding: 0;
  transition: 0.6s;
}

.nav--header-1 .nav__item--home:hover {
  background-position: 8px 50%;
}

.nav--header-1 .nav__item--home > .nav__link {
  display: block; 
  height: calc(var(--ccft-brand-size) + 40px);
  text-indent: -999px;
}

.nav--header-2 > .nav__item > .nav__link > em{
  font-weight: 300 !important;
}

.nav--header-2 {
  height: 100%;
  left: 25%;
  opacity: 0;
  padding: 2.5rem 5rem;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.nav--header-2::before {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" fill="rgb(255, 255, 255)"/></svg>');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  content: "";
  cursor: pointer;
  display: block;
  margin-bottom: 6rem;
  height: 30px;
  width: 30px;
}

.nav--header-2 > .nav__item {
  margin-bottom: 2.75rem;
}

.nav--header-2 > .nav__item > .nav__link {
  background-image: linear-gradient(
    to bottom,
    var(--ccft-cs-primary) 0%,
    var(--ccft-cs-primary) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #fff;
  font-family: var(--ccft-ts-primary);
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: background-size 0.25s, color 0.3s;
}

.nav--header-2 > .nav__item > .nav__link:hover {
  background-size: 6px 50px;
  color: #000000;
}

@media screen and (min-width: 1400px) {
  .hero-title {
    margin-right: 30%;
  }

  .hero-text {
    width: 30%;
    margin-right: 30%;
  }

  .nav--header-2 > .nav__item > .nav__link {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 768px) {
  .layout {
    background-image: url("../responsive.png") !important;
  }

  .layout__wrapper {
    background-image: url("../responsive.png") !important;
  }
  .nav--header {
    display: flex !important;
    margin-top: 3rem !important;
  }

  .nav__link {
    font-size: 0.9rem !important;
    padding-left: 1rem !important;
    padding-top: 1.4rem !important;
    width: 110px !important;
  }

  .nav__item--home {
    font-size: 0rem !important;
    padding-left: 0rem !important;
    width: 0px !important;
  }

  .nav__item > .nav__link::before {
    font-size: 2rem !important;
  }

  .nav--header-1 {
    padding-left: 0.5rem !important;
  }

  .nav--header-1 > .nav__item:not(.nav__item--home) > .nav__link {

    margin-right: 14px;
  }

  .layout__frontdrop {
    margin-top: 0px !important;
    transform: translateX(0%) scaleX(1) !important;
  }

  .nav--header-2 {
    padding-left: 0px !important;
    left: 10% !important;
    display: block !important;
  }

  .nav--header-2::before {
    background-size: 20px 20px !important;
    margin-top: 6rem !important;
    margin-bottom: 3rem !important;
  }

  .nav--header-2 > .nav__item > .nav__link {
    background-image: none !important;
    padding-left: 0rem !important;
  }


  .nav--header-1 > .nav__item.nav__item--active .nav--header-2 {
    width: 100% !important;
  }

  .layout__wrapper {
    display: grid;
    grid-template-columns: 100% repeat(1, 1fr);
    margin: auto;
    height: 100%;
  }

  .layout__main {
    display: flex;
    flex-direction: column;
  }

  .layout__main {
    grid-column: span 3;
    margin-top: 10px;
  }

  .hero {
    padding-top: 0rem !important;
  }

  .hero-title {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-left: 2rem !important;
    margin-right: auto !important;
    margin-top: 0rem !important;
    transform: translateY(1.6rem) !important;
  }

  .hero-text {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
    margin-right: 10% !important;
    padding: 6rem 3rem 3rem;
    transform: translateY(-3rem);
    width: 100% !important;
  }

  .layout__backdrop,
  .layout__frontdrop {
    background-color: #00000000;
  }
}
