* {
  box-sizing: border-box;
}

html,
body {
  --background-black: #000;
  --color-white: #fff;
  --color-focus-nav: #85b0a5;
  --color-layout-nav: hsla(14, 97%, 65%, 0.3);
  --font-primary: Montserrat, sans-serif;
  --font-secondary: "Abril Fatface", serif;
  background-color: var(--background-black);
  font-family: var(--font-primary);
  margin: 0;
}

.layout {
  background-image: url("../img/backimg.jpg");
  background-position: 0 0;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.layout.nav--active main {
  opacity: 0.2;
  user-select: none;
}

.layout_navegacion,
.layout_body {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  transform-origin: 0% 50%;
  width: 100%;
  z-index: 0;
}

.layout_navegacion {
  transform: scaleX(0.34) translateX(calc(67% * 3));
}

.layout.nav--active .layout_body {
  background-color: var(--color-layout-nav);
  visibility: visible;
}

.layout_body {
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background-color: #373135e5 !important;
}

.layout_contenedora {
  display: grid;
  grid-template-columns: 300px repeat(3, 1fr);
  margin: auto;
  height: 100%;
}

.layout_main {
  transition: opacity 0.3s;
  z-index: 1;
}

.main {
  padding-top: 10rem;
}

.main-title {
  color: #fff;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 4.75rem;
  line-height: 1.2;
  margin-left: auto;
  margin-right: 20%;
  margin-bottom: 0;
  position: relative;
  width: 32.5rem;
  z-index: 1;
}

.main-title em {
  display: block;
  font-size: 2rem;
  font-style: normal;
  line-height: 1.2;
  transform: translateX(2.5rem);
}

.main-text {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.75;
  margin: 0;
  margin-left: auto;
  margin-right: 15%;
  padding: 4rem 3rem 3rem;
  transform: translateY(-3rem);
  width: 50%;
  z-index: 0;
}

.main-text em {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.75;
}

.main-block--content > *:last-child {
  margin-bottom: 0;
}

.layout_main {
  display: flex;
  flex-direction: column;
}

.header_contenedor {
  height: 100%;
  z-index: 2;
}

.header_contenedor nav {
  height: 100%;
}

.layout_main {
  grid-column: span 3;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_padre {
  counter-reset: n;
  height: 100%;
  padding: 0 2rem;
  position: relative;
}

.nav_padre > .list_item:not(.logo) {
  counter-increment: n;
}

.nav_padre > .list_item:not(.logo) > .ancla_item {
  color: var(--color-white);
  display: block;
  font-family: var(--font-secondary);
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: 0.045em;
  padding: 1rem 1rem;
  padding-left: 3rem;
  padding-top: 3rem;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  z-index: 1;
}

.nav_padre > .list_item > .ancla_item::before {
  content: counter(n, decimal-leading-zero);
  display: block;
  font-family: var(--font-primary);
  font-size: 6rem;
  font-weight: bold;
  left: 0;
  top: 0;
  opacity: 0.25;
  position: absolute;
  transition: transform 0.2s;
  z-index: -1;
}

.nav_padre > .list_item > .ancla_item:hover,
.nav_padre > .list_item.list_item--active > .ancla_item {
  color: var(--color-focus-nav);
  transform: translateX(0.5rem);
}

.nav_padre > .list_item.list_item--active .nav_hijo {
  visibility: visible;
  width: 70%;
}

.nav_padre .logo {
  background-image: url("../img/iferez.png");
  background-position: 0px 50%;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  padding: 0;
  transition: 0.6s;
}

.nav_padre .logo:hover {
  background-position: 8px 50%;
}

.nav_padre .logo > .ancla_item {
  display: block;
  height: calc(60px + 40px);
  text-indent: -999px;
}

.nav_hijo > .list_item > .ancla_item > em {
  font-weight: 300 !important;
}

.nav_hijo {
  height: 100%;
  left: 25%;
  opacity: 0;
  padding: 2.5rem 5rem;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.nav_hijo::before {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" fill="rgb(255, 255, 255)"/></svg>');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  content: "";
  cursor: pointer;
  display: block;
  margin-bottom: 6rem;
  height: 30px;
  width: 30px;
}

.nav_hijo > .list_item {
  margin-bottom: 2.75rem;
}

.nav_hijo > .list_item > .ancla_item {
  background-image: linear-gradient(
    to bottom,
    var(--color-focus-nav) 0%,
    var(--color-focus-nav) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #fff;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: background-size 0.25s, color 0.3s;
}

.nav_hijo > .list_item > .ancla_item:hover {
  background-size: 6px 50px;
  color: #000000;
}

@media screen and (min-width: 1400px) {
  .main-title {
    margin-right: 30%;
  }

  .main-text {
    width: 30%;
    margin-right: 30%;
    font-size: 1.3rem;
  }

  .nav_padre > .list_item:not(.logo) > .ancla_item {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .layout {
    background-image: url("../img/backimgmovil.png") !important;
  }

  .layout_contenedora {
    background-image: url("../img/backimgmovil.png") !important;
  }

  .ul_contenedor {
    display: flex !important;
    margin-top: 3rem !important;
  }

  .ancla_item {
    font-size: 0.9rem !important;
    padding-left: 1rem !important;
    padding-top: 1.4rem !important;
    width: 110px !important;
  }

  .logo {
    font-size: 0rem !important;
    padding-left: 0rem !important;
    width: 0px !important;
  }

  .list_item > .ancla_item::before {
    font-size: 2rem !important;
  }

  .nav_padre {
    padding-left: 0.5rem !important;
  }

  .nav_padre > .list_item:not(.logo) > .ancla_item {
    margin-right: 14px;
  }

  .layout_body {
    margin-top: 0px !important;
    transform: translateX(0%) scaleX(1) !important;
  }

  .nav_hijo {
    padding-left: 0px !important;
    left: 10% !important;
    display: block !important;
  }

  .nav_hijo::before {
    background-size: 20px 20px !important;
    margin-top: 6rem !important;
    margin-bottom: 3rem !important;
  }

  .nav_hijo > .list_item > .ancla_item {
    background-image: none !important;
    padding-left: 0rem !important;
  }

  .nav_padre > .list_item.list_item--active .nav_hijo {
    width: 100% !important;
  }

  .layout_contenedora {
    display: grid;
    grid-template-columns: 100% repeat(1, 1fr);
    margin: auto;
    height: 100%;
  }

  .layout_main {
    display: flex;
    flex-direction: column;
  }

  .layout_main {
    grid-column: span 3;
    margin-top: 10px;
  }

  .main {
    padding-top: 0rem !important;
  }

  .main-title {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-left: 2rem !important;
    margin-right: auto !important;
    margin-top: 0rem !important;
    transform: translateY(1.6rem) !important;
  }

  .main-text {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
    margin-right: 10% !important;
    padding: 6rem 3rem 3rem;
    transform: translateY(-3rem);
    width: 100% !important;
  }

  .layout_navegacion,
  .layout_body {
    background-color: #00000000;
  }
}
